.welcome-section{
    width: 100%;
    background-color: var(--bg_default);}
.welcome-section .triangles{
    position: relative;}
.welcome-section .blue-triangle{
    height: 50px;
    clip-path: polygon(0 0,0 100%, 100% 0);
    background: linear-gradient(to right,#066caa 0%,#04849d 20%,#03a08d 100%);}
.welcome-section .green-triangle{
    height: 50px;
    clip-path: polygon(100% 0, 100% 100%, 0% 0%);
    background-color: var(--brand-secondary);
    width: 100%;
    position: absolute;}
.welcome-section .welcome-text h3{
    color:var(--brand-secondary);
    font-size: 20px;}
.welcome-section .welcome-text h6{
    color: var(--body-text);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;}
.welcome-section .center-welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;}

@media only screen and (max-width:768px){
    .welcome-section .welcome-text{
        padding: 15px;
    }
    .welcome-section .welcome-text h3{
        font-size: 15px ;           
    }
    .welcome-section .welcome-text h6{
        font-size: 12px ;

    }
}
