.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: var(--bg_default);  }
.header .buttons{
        vertical-align: middle;}
.body-container{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

}



    