
[data-theme="light"]  {
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #FFFFFF;
  --bg_body: #F0F9FF;
  --lines-color: #DDDDDD;
  --body-text: #333333;
  --heart-color: #DC143C;
  --star-color: #EE931C;
  --author-color: #898989;
  --details-color: #FFFFFF;
  --details-bg: #333333;

}

[data-theme="dark"]{
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #1A1A1A;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text : #EDEDED;
  --heart-color: #DC143C;
  --star-color: #EE931C;
  --author-color: #898989;
  --details-color: #FFFFFF;
  --details-bg: #333333;
}